@import '../../scss/index';

.form {
  position: relative;
  @include flexColumn;
  row-gap: 20px;
  width: 500px;
  margin: 40px 0;

  .err {
    position: absolute;
    top: -35px;
    color: var(--red);
  }

  .submit {
    @include flexColumn;
    row-gap: 20px;
    width: 100%;

    .btn {
      padding: 15px 50px;

      &:disabled {
        background-color: var(--tetxGray);
        opacity: 0.3;
      }
    }
  }

  .register {
    @include flexCenterCenter;
    column-gap: 10px;
    width: 100%;
    color: var(--tetxGray);
  }
}

.passwordSuccess {
  opacity: 0.5;
}

.forgotPassword {
  color: var(--tetxGray);
  cursor: pointer;
  font-weight: 700;
  transition: all ease .2s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    color: var(--green);
  }
}