@import './src/scss/index';

.react-dadata {
	&__container {
		position: relative;
	}

	&__input {
		width: 100%;
		padding: 15px 48px;

		color: var(--tetxGray);
		border: none;
		border-radius: 10px;
		outline: none;
		background-color: var(--brown);
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

		font-size: 16px;
		line-height: 21px;
	}

	&__input::-webkit-input-placeholder {
		opacity: 0.5;
		color: var(--tetxGray);
	}

	&__input::-moz-placeholder {
		opacity: 0.1;
		color: var(--tetxGray);
	}

	&__suggestions {
		position: absolute;
		z-index: 10;
		top: calc(100% + 8px);
		right: 0;
		left: 0;

		overflow: hidden;

		margin: 0;
		padding: 0;

		list-style: none;

		text-align: left;

		border-radius: 4px;
		background-color: var(--brown);
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
	}

	&__suggestion-note {
		padding: 10px 10px 5px;

		color: #828282;

		font-size: 14px;
	}

	&__suggestion {
		display: block;

		box-sizing: border-box;
		width: 100%;
		padding: 7px 10px;

		cursor: pointer;
		text-align: left;

		color: var(--textWhite);
		border: none;
		background: none;

		font-size: 14px;
	}

	&__suggestion--line-through {
		text-decoration: line-through;
	}

	&__suggestion-subtitle {
		margin-top: 4px;

		color: #777;

		font-size: 14px;
	}

	&__suggestion-subtitle-item {
		display: inline-block;

		margin-right: 16px;
		margin-bottom: 4px;
	}

	&__suggestion-subtitle-item:last-child {
		margin-right: 0;
	}

	&__suggestion--current {
		background-color: #618967;
	}

	&__suggestion:hover {
		background-color: #618967;
	}

	& mark {
		background: none;
	}

	&--highlighted {
		color: var(--textWhite);
	}
}

@include _laptopL {
	.react-dadata {
		&__input {
			padding: 10px 48px;

			font-size: 14px;
		}

		&__input::-webkit-input-placeholder {
			font-size: 14px;
		}

		&_input::-moz-placeholder {
			font-size: 14px;
		}
	}
}

@include _tablet {
	.react-dadata {
		&__input {
			padding: 10px 48px;
		}
	}
}
