@import './src/scss/index';

.wrapper {
	width: 100%;
	margin-bottom: 40px;

	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);

	@include _laptop {
		display: none;
	}

	.nav {
		@include flexBetweenCenter;
		margin: 28px 80px 0;

		@include _laptopL {
			margin-top: 13px;
		}

		@include _laptop {
			display: none;
		}

		.navLink {
			padding-bottom: 30px;

			cursor: pointer;
			transition: all ease 0.2s;
			transform: translateY(2px);
			white-space: nowrap;
			text-decoration: none;

			color: var(--tetxGray);
			border-bottom: 3px solid transparent;

			font-size: 18px;

			&:hover {
				border-bottom: 3px solid var(--green);
			}

			@include _laptopL {
				padding-bottom: 15px;

				font-size: 14px;
			}
		}

		.activeLink {
			color: var(--textWhite);
		}

		.activeLinkBorder {
			border-bottom: 3px solid var(--green);
		}
	}
}
