@import './src/scss/index';

.bottomCount {
	@include flexBetweenCenter;

	span {
		color: var(--textWhite);

		font-size: 20px;
		font-weight: 600;
	}
}

.bottom {
	@include flexBetweenCenter;

	span {
		color: var(--textWhite);

		font-size: 20px;
		font-weight: 600;
	}
}

.btn {
	height: 44px;

	@include flexBetweenCenter;
	column-gap: 12px;

	@include _laptopL {
		font-size: 12px;
	}
}
