@import './src/scss/index';

.wrapper {
	display: grid;
	align-items: center;
	grid-template-columns: 117px 1fr auto 150px auto;
	column-gap: 40px;

	padding: 20px;

	border-bottom: 1px solid rgba(255, 255, 255, 0.1);

	&:last-child {
		border-bottom: none;
	}

	@include _laptop {
		column-gap: 20px;
		grid-template-columns: 126px 1fr;
		grid-template-areas:
			'img desc'
			'count totalPrice';
		row-gap: 20px;

		position: relative;
	}

	.image {
		width: 117px;
		height: 86px;
		object-fit: cover;

		cursor: pointer;

		border-radius: 10px;

		@include _laptop {
			grid-area: img;
		}
	}

	.info {
		max-width: 265px;

		h2 {
			margin-bottom: 5px;

			font-size: 18px;
		}

		p {
			color: #A6A7AB;

			font-size: 12px;
		}

		@include _laptop {
			grid-area: desc;
		}

		@include _mobileL {
			p {
				display: none;
			}

			h2 {
				min-height: 70px;

				font-size: 14px;
			}
		}
	}

	.countBlock {
		@include flexBetweenCenter;

		@include _laptop {
			grid-area: count;
		}

		span {
			width: 50px;

			text-align: center;

			font-size: 20px;
			font-weight: 700;
		}

		.count {
			@include flexCenterCenter;
			width: 38px;
			height: 38px;

			cursor: pointer;
			transition: transform ease 0.2s;

			border-radius: 50%;
			background: var(--green);

			&:active {
				transform: translateY(2px);
			}

			svg {
				width: 12px;
				height: 12px;
			}

			@include _mobileL {
				width: 25px;
				height: 25px;

				svg {
					width: 10px;
					height: 10px;
				}
			}
		}

		.countOpacity {
			cursor: unset;

			opacity: 0.5;
			background: var(--tetxGray);

			&:active {
				transform: none;
			}
		}
	}

	.totalPrice {
		text-align: center;

		font-size: 20px;

		@include _laptop {
			grid-area: totalPrice;
			justify-self: flex-start;
		}

		@include _mobileM {
			font-size: 16px;
		}
	}

	.delete {
		width: 38px;
		height: 38px;
		margin-right: 20px;

		cursor: pointer;
		transition: transform ease 0.2s;

		border-radius: 50%;
		background: var(--green);

		@include flexCenterCenter;

		svg {
			width: 20px;
			height: 20px;
		}

		@include _laptop {
			position: absolute;
			top: 70px;
			right: 20px;

			margin-right: 0;
		}

		@include _tablet {
			top: unset;
			bottom: 20px;
		}

		@include _mobileM {
			svg {
				width: 15px;
				height: 15px;
			}
		}
	}
}
