@import './src/scss/index';

.buttons {
	position: relative;

	max-width: 70%;
	margin-top: 20px;
	margin-bottom: 30px;
	padding-left: 50px;

	@include flexBetweenCenter;

	@include _laptop {
		max-width: 80%;
		padding-left: 0;
	}

	@include _tablet {
		max-width: 90%;
	}

	@include _mobileL {
		max-width: 100%;
	}

	button {
		height: 50px;
	}

	h3 {
		font-size: 25px;

		@include _mobileL {
			font-size: 20px;
		}
	}

	.count {
		position: absolute;
		top: 0;
		right: -100px;

		width: 50px;
		height: 50px;

		color: var(--textWhite);
		border-radius: 50%;
		background: var(--green);

		font-size: 20px;
		font-weight: 700;
		line-height: 24px;

		@include flexCenterCenter;

		@include _laptop {
			right: -80px;
		}

		@include _tablet {
			top: -170px;
			right: -40px;
		}

		@include _mobileL {
			top: -185px;
			right: -5px;
		}

		@include _mobileM {
			top: -185px;
			right: -5px;
		}
	}
}
